@import "bourbon";
@import "global/variables";

/*------------------------------------*\
    #Universal Sizing
\*------------------------------------*/

* {
	@include box-sizing(border-box);
}

html, body {
	height: 100%;
	width: 100%;
}





/*------------------------------------*\
    #Flex Box Types
\*------------------------------------*/

@mixin flex-row ($type: flex) {
	@include display($type);
	@include flex-direction(row);
	@include justify-content(flex-start);
	@include align-items(center);
}

.flex-row {
	@include flex-row();
}





/*------------------------------------*\
    #Fonts
\*------------------------------------*/

html {
	font-family: 'Roboto';
	font-weight: 300;
	color: $color;
}





/*------------------------------------*\
    #Body
\*------------------------------------*/

body {
	background: #bbb;
}

.main {
	position: relative;
	height: 100%;
	width: 100%;
}





/*------------------------------------*\
    #Headers
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font: $fontHeader;
}

h2 {
	font: $fontPage;
}

h3 {
	font: $fontSection;
}

h4 {
	font: $fontSubSection;
}

p {
	font: $fontParagraph;
	line-height: 30px;
	text-indent: 20px;
	margin: 9px 0 15px 0;
}