@import "bourbon";
@import "global/variables";

/*------------------------------------*\
    #Universal Sizing
\*------------------------------------*/

* {
	@include box-sizing(border-box);
}

html, body {
	height: 100%;
	width: 100%;
}





/*------------------------------------*\
    #Fonts
\*------------------------------------*/

html {
	font-family: 'Roboto';
	font-weight: 300;
	color: $color;
}

a {
	text-decoration: none;
	font-weight: 700;
}





/*------------------------------------*\
    #Body
\*------------------------------------*/

body {
	background: #bbb;
}

.main {
	position: relative;
	height: 100%;
	width: 100%;
}





/*------------------------------------*\
    #Headers
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font: $fontHeader;
}

h2 {
	font: $fontPage;
}

h3 {
	font: $fontSection;
	margin-bottom: 9px;
}

h4 {
	font: $fontSubSection;
}

p {
	font: $fontParagraph;
	line-height: 30px;
	text-indent: 16px;
	margin-bottom: 6px 0 0 15px;

	@include responds-to (mobile) {
		line-height: 27px;
	}

	&:last-child {
		margin: 0;
	}
}