@include font-face('Icons', '../../icons/fonts/icomoon');

//Icon set
$icons: (
	codepen: "\e000",
	github: "\e001",
	linkedin: "\e002",
	website: "\e003",
	stackoverflow: "\e004",
	twitter: "\e005",
	close: "\e006",
	upward: "\e007",
	downward: "\e008",
	user: "\e009",
	tools: "\e00a",
	search: "\e00b",
	briefcase: "\e00c",
	mail: "\e00d",
	bulb: "\e00e",
	home: "\e00f",
	star: "\e010",
	fork: "\e011",
	funnel: "\e012",
	more: "\e013"
);





//Placeholder for icon prefixed classes
%icon {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-family: 'Icons';
}





//For adding font icons to elements using CSS pseudo-elements (http://jaydenseric.com/blog/fun-with-sass-and-font-icons)
@mixin icon($position: before, $icon: false, $styles: true) {
	@if $position == both {
		$position: 'before, &:after';
	}

	//Either a :before or :after pseudo-element, or both, defaulting to :before
	&:#{$position} {
		@if $icon {
			//A particular icon has been specified
			content: "#{map-get($icons, $icon)}";
		}
		@if $styles {
			//Supportive icon styles required
			@extend %icon;
		}

		//Include any extra rules supplied for the pseudo-element
		@content;
	}
}





//Generate an "icon-*" class for each icon in the list
@mixin icon-classes() {
	@each $i, $v in $icons {
		.icon-#{$i} {
			@include icon($icon: $i);
		}
	}
}
@include icon-classes();