//General
$sections: 4;




//Colors
$colorVeryWeak: #ddd;
$colorWeak: #aaa;
$color: #777;
$colorStrong: #444;
$colorVeryStrong: #222;

$invertedColorVeryWeak: #333;
$invertedColorWeak: #777;
$invertedColor: #bbb;
$invertedColorStrong: #eee;
$invertedColorVeryStrong: #fff;

$extraColor: #999;




//Fonts
$fontHeader: 300 18px 'Roboto';
$fontPage: 700 18px 'Roboto';
$fontSection: 700 16px 'Roboto';
$fontSubSection: 300 16px 'Roboto';
$fontParagraph: 300 14px 'Roboto';
$fontTag: 300 12px 'Roboto';
$fontStrong: 300 15px 'Roboto';





//Buffer styles
$bufferOuterHeight: 44px;
$bufferInnerHeight: 36px;
$bufferMargin: 4px;
$bufferBorder: $extraColor;
$bufferShadow: 0 0 10px 2px $color;





//Amimations
$animQuick: 0.3s;
$animNormal: 0.6s;
$animLong: 1.2s;





//Content
$contentShadow: 0 0 10px 4px $extraColor;





//Tags
$tagRadius: 6px;





//About Page
$aboutAvatarSize: 156px;
$aboutAvatarShadow: 0 0 10px 4px $extraColor;