//General
$sections: 4;




//Colors
$colorVeryWeak: #ddd;
$colorWeak: #aaa;
$color: #777;
$colorStrong: #444;
$colorVeryStrong: #222;
$invertedColor: #aaa;
$invertedColorStrong: #eee;
$invertedColorWeak: #777;




//Fonts
$fontHeader: 300 18px 'Roboto';
$fontPage: 700 18px 'Roboto';
$fontSection: 700 16px 'Roboto';
$fontSubSection: 700 14px 'Roboto';
$fontParagraph: 300 14px 'Roboto';
$fontTag: 300 12px 'Roboto';
$fontStrong: 300 15px 'Roboto';





//Buffer styles
$bufferOuterHeight: 44px;
$bufferInnerHeight: 36px;
$bufferMargin: 4px;
$bufferBorder: #999;
$bufferShadow: 0 0 10px 2px #999;





//Amimations
$animQuick: 0.3s;
$animNormal: 0.6s;
$animLong: 1.2s;





//Page styles
$pageBorder: #777;
$pageShadow: 0 0 10px 4px #999;





//About Page
$aboutAvatarSize: 160px;
$aboutAvatarShadow: 0 0 10px 4px #999;