//Font Colors
$color: #777;
$colorWeak: #aaa;
$colorStrong: #444;
$invertedColor: #aaa;
$invertedColorStrong: #ddd;
$invertedColorWeak: #777;





//Buffer styles
$bufferOuterHeight: 44px;
$bufferInnerHeight: 36px;
$bufferMargin: 4px;
$bufferBack: #ddd;
$bufferBorder: #aaa;
$bufferShadow: 0 0 10px 4px #999;





//Amimations
$animQuick: 0.3s;
$animNormal: 0.6s;
$animLong: 1.2s;