@import "bourbon";
@import "../global/variables";

.navbar.buffer {
	top: 0;
	z-index: 11;

	&:before {
		border-bottom: 1px solid $bufferBorder;
	}
}


.navbar__title {
	@include flex-row();
	@include calc(width, "100% - 75px");
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	padding-left: 4px;
}


.navbar__title__segment {
	@include flex(0 0 100%);
	@include justify-content(space-between);
	@include transform(translateX(-100%));
	@include transition(transform $animNormal ease-in-out);
	position: relative;
	width: 100%;
	height: $bufferInnerHeight;
	margin-top: $bufferMargin;
	overflow: hidden;
	whitespace: nowrap;
}

.navbar__title__heading {
	@include flex-row();
	min-height: $bufferInnerHeight;
}

.navbar__title__close {
	@include icon($icon: close);
	display: none;
	margin-left: -8px;
}

.navbar--contacts .navbar__title__segment {
	@include transform(translateX(0));
}

.navbar--contacts .navbar__title__contact .navbar__title__close {
	display: block;
}


.navbar__dropdown {
	@include transition(height $animNormal ease-in-out);
	clear: both;
	height: 0;
	width: 100%;
	overflow: hidden;
}

.navbar--contacts .navbar__dropdown {
	height: 284px;
}





/*------------------------------------*\
    #Avatar
\*------------------------------------*/

.avatar {
	@include flex-row(inline-flex);
	position: relative;
	height: 100%;
	width: 60px;
	float: left;
	cursor: pointer;
	color: #777;
	background: $bufferBack;
	margin-top: $bufferMargin;
}

.avatar__img {
	@include flex(0 0 30px);
	height: 30px;
	width: 30px;
	border-radius: 15px;
	margin-left: 4px;
}

.avatar__arrow {
	@include icon($icon: upward) {
		@include transform(rotateZ(0deg));
		@include transition(transform $animQuick ease-in-out);
		transform-origin: 18px 18px;
	};
	@include flex-row(inline-flex);
	position: relative;
	bottom: 0;
	left: -5px;
	width: 24px;
	margin-right: 2px;
}

.avatar.avatar--open .avatar__arrow {
	@include icon($icon: upward) {
		@include transform(rotateZ(-180deg));
		transform-origin: 18px 18px;
	};
}





/*------------------------------------*\
    #TitleScroller
\*------------------------------------*/

.titleScroller {
}

.titleScroller__span {
	@include flex-row();
	height: 100%;
}





/*------------------------------------*\
    #Contact List
\*------------------------------------*/

.contact-list__line {
	height: $bufferInnerHeight + $bufferMargin;
	display: flex;
	color: $colorStrong;
	text-decoration: none;
}

.contact-list__icon {
	@include flex-row();
	@include flex(0 0 60px);
	justify-content: flex-end;
	height: 100%;
	font-size: 24px;
	padding-right: 2px;
	color: $color;
}

.contact-list__text {
	@include flex-row();
	@include flex(2 1);
	height: 100%;
	font: $fontStrong;
	margin-left: 6px;
}