@import "bourbon";
@import "../global/variables";

.page {
	@include transition(opacity $animNormal ease-in-out);
	//@include calc(min-height, "100% - 120px");
	min-height: 200px;
	position: relative;
	margin-bottom: 48px;
	padding: 16px 6px 32px 6px;
	width: 100%;
	border: 1px solid $color;
	background: white;
	opacity: 0.6;

	&:first-child {
		margin-top: 60px;
	}

	&:last-child {
		margin-bottom: 72px;
	}
}

.page--active {
	opacity: 1;
	box-shadow: $contentShadow;
}





/*------------------------------------*\
    #Header
\*------------------------------------*/

.page__header {
	@include flex-row();
}

.page__icon {
	font-size: 48px;
	line-height: 40px;
	width: 54px;
	height: 40px;
	margin-left: 4px;
	color: $colorWeak;
}

.skills, .projects {
	.page__icon {
		font-size: 42px;
		text-align: center;
	}
}

.page__heading {
	color: #444;
}





/*------------------------------------*\
    #Content
\*------------------------------------*/

.page__content {
	padding: 0 58px;

	h3 {
		margin-top: 24px;
	}

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}





/*------------------------------------*\
    #Section
\*------------------------------------*/

.page__section {
	position: relative;
}





/*------------------------------------*\
    #Avatar
\*------------------------------------*/

.page__avatar {
	$topOffset: 10px;

	height: $aboutAvatarSize;
	width: $aboutAvatarSize;
	position: absolute;
	top: $topOffset * -1;
	right: 60px;

	&:after, &:before {
		content: "";
		width: 0;
		height: 0;
		z-index: 2;
		border-style: solid;
		border-width: 0 0 $topOffset - 1 $topOffset - 1;
		border-color: transparent transparent $colorStrong transparent;
		position: absolute;
		top: 0;
		left: -1 * ($topOffset - 1);
	}

	&:before {
		@include filter(blur(4px));
		border-width: 0 0 $topOffset $topOffset;
		border-color: transparent transparent black transparent;
		left: $topOffset;
		z-index: 1;
	}
}

.page__avatar__img {
	@include position(absolute, 0 0 0 0);
	height: 100%;
	width: 100%;
	z-index: 0;
	border-top: 1px solid $colorStrong;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	box-shadow: $aboutAvatarShadow;
}

.page__avatar__placeholder {
	height: 90px;
	width: 160px;
	margin-left: 12px;
	float: right;
}