@import "bourbon";
@import "../global/variables";

.page {
	min-height: 200px;
	position: relative;
	margin-bottom: 48px;
	padding: 16px 6px 40px 6px;
	width: 100%;
	border: 1px solid $color;
	background: white;
	opacity: 0.6;

	@include responds-to (desktop) {
		@include transition(opacity $animNormal ease-in-out);
	}

	@include responds-to (mobile) {
		padding: 8px 4px 24px 4px;
	}

	&:first-child {
		margin-top: 60px;
	}

	&:last-child {
		margin-bottom: 72px;
	}
}

.page--active {
	opacity: 1;
	box-shadow: $contentShadow;
}





/*------------------------------------*\
    #Header
\*------------------------------------*/

.page__header {
	@extend %flex-row;
	@include responds-to (mobile) {
		margin-top: $tabPadding;
	}
}

.page__icon {
	font-size: 48px;
	line-height: 40px;
	width: 54px;
	height: 40px;
	margin-left: 4px;
	color: $colorWeak;

	@include responds-to (mobile) {
		margin-left: 0;
		/*position: absolute;
		font-size: 240px;
		opacity: 0.06;
		top: 72px;
		left: -72px;*/
		display: none;
	}
}

.skills, .projects {
	.page__icon {
		font-size: 42px;
		text-align: center;

		/*@include responds-to (mobile) {
			font-size: 240px;
		}*/
	}
}

.projects {
	.page__icon {
		transform: scale(1.25, 1);
	}
}

.page__heading {
	color: #444;

	@include responds-to (mobile) {
		margin-left: $tabPadding/2;
	}
}





/*------------------------------------*\
    #Content
\*------------------------------------*/

.page__content {
	padding: 0 58px;

	@include responds-to (mobile) {
		padding: 0 $tabPadding 0 $tabPadding/2;
	}

	h3 {
		margin-top: 24px;
	}

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}





/*------------------------------------*\
    #Section
\*------------------------------------*/

.page__section {
	position: relative;
}





/*------------------------------------*\
    #Avatar
\*------------------------------------*/

.page__avatar {
	$topOffset: 10px;

	height: $aboutAvatarSize;
	width: $aboutAvatarSize;
	position: absolute;
	top: -1px;
	right: 60px;

	@include responds-to (mobile) {
		height: $mobileAboutAvatarSize;
		width: $mobileAboutAvatarSize;
		right: $tabPadding;
	}
}

.page__avatar__img {
	@include position(absolute, 0 0 0 0);
	height: 100%;
	width: 100%;
	z-index: 0;
	border-top: 1px solid $color;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	box-shadow: $aboutAvatarShadow;
}

.page__avatar__placeholder {
	height: 90px;
	width: $aboutAvatarSize + 8px;
	margin-left: 12px;
	float: right;

	@include responds-to (mobile) {
		height: 36px;
		width: $mobileAboutAvatarSize;
	}
}





/*------------------------------------*\
    #Copyright
\*------------------------------------*/

.page__copyright {
	color: $colorWeak;
	font-size: 11px;
	text-align: center;
	position: relative;
	top: 18px;
	height: 11px;

	@include responds-to (mobile) {
		top: 9px;
	}
}