@import "bourbon";
@import "../global/variables";

//Header and footer bars
.buffer {
	@include container(margin, 900px);
	@include transform(translateZ(10));
	position: fixed;
	z-index: 100;
	min-height: $bufferOuterHeight;

	&:before {
		@include position(absolute, 0 -200% 0 -200%);
		content: "";
		z-index: -1;
		background: $colorVeryWeak;
		box-shadow: $bufferShadow;
	}
}


//An icon in the buffer
@mixin buffer__icon ($include: true) {
	@if $include == true {
		@include flex-row();
	}
	font-size: 36px;
	cursor: pointer;
}

.buffer__icon {
	@include buffer__icon(false);
	@extend .flex-row;
	font-size: 36px;
	line-height: 36px;
	height: 36px;
	width: 36px;
	opacity: 0.75;

	&:hover {
		opacity: 1;
	}
}